/* #head{
    width: 100%;
    height: 50px;
    border: 2px solid red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    text-align: center;
    line-height: 50px;
} */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(251, 247, 247, 0.907);
}
header{
    width: 100%;
    height:75px;
    background-color: rgba(44, 52, 68, 0.832);
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
nav ul{
    list-style: none;
    display: flex;
    padding-top: 27px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
    transition: 1s;
}
nav ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 20px;
    
}
#logo{
    width: 70px;
    height: 70px;
    border: 1px solid white;
    background-image: url(./images/tech-logo-build-27093829-videohive-download-free-hunterae-com-3.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
#logo:hover{
    background-color: rgb(126, 8, 128);
    /* color: darkblue; */
}
#baner{
    width:100%;
    height: 100vh;
    color: rgb(9, 244, 166);
    font-size: 50px;
    color: rgb(2, 28, 29);
    background-color: #100e1080;
    background-size: contain;
    background-image:url('./images/Internet_Business_Technology_HD_Wallpaper_11_2560x1600.jpg');
    background-repeat: no-repeat;
    object-position: 100%;
    object-fit: fill;
    background-position: 450px;
    /* text-align: center; */
    /* line-height: 100vh; */
    margin-top: 10px;
}
#baner #quotes{
    width: 450px;
    height: 700px;
    margin-top: 150px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(2, 52, 53);
    padding: 0px 10px;
}
#sec-1{
    display: flex;
    justify-content: space-evenly;
}
#sec-1 .circles{
    width: 300px;
    height: 300px;
    /* background-color: chocolate; */
    text-align: end;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end; 
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 20px;
    color: rgba(0, 14, 14, 0.971);
    font-weight: bold;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

#sec-2{
    display: flex;
    
}
#sec-2 #main{
    width: 100%;
    height: 500px;
    background-color: rgba(146, 179, 239, 0.611);
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* object-fit: scale-down; */
}
#sec-2 #main #content{
    margin-top: 30px;
    font-size: 22px;
    /* font-style: italic; */

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    padding: 0px 10px;
}
#articles{
    width: 100%;
    margin-left: 20px;
    

    /* margin-top: 5px; */
}
.article{
    height: 153px;
    background-color: deeppink;
    text-align: start;
    margin-bottom: 20px;
    /* line-height: 150px; */
    background-repeat: no-repeat;
    background-size: cover; 
    object-fit: scale-down;
    background-position: 0px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    /* border: 0px solid black; */
    border-radius: 10px;
    /* background-clip: border-box; */
}

#sec-3{
    display: flex;
    justify-content: space-evenly;
    
}
#sec-3 .box{
    width: 250px;
    height: 450px;
    border-radius: 20px;
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    align-items: initial;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;

}
/* #sec-3 .box[data-show-border=false] {
    box-shadow: 0 1px 6px rgb(31 31 31 / 12%), 0 1px 4px rgb(31 31 31 / 12%);
} */
#sec-4{
    width: 100%;
    height: 100px;
    /* background-color: rgba(10, 163, 163, 0.63); */
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    background-image: url('./images/pexels-photo-2693529.jpeg');
    background-position: 50%;
    background-repeat: no-repeat;
}
#sec-4 div{
    /* width: 100px; */
    /* height: 25px; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(6, 2, 26);
    font-size: 20px;
    font-weight: bold;
}

/* @media screen and (max-width: 1199px) {
    body {
      background-color: pink;
    }
  }

  @media screen and (max-width: 1024px) {
    body {
      background-color: rgb(216, 99, 216);
    }
  }


  @media screen and (max-width: 768px) {
    body {
      background-color: lightgreen;
    }
  } */



  @media screen and (max-width: 500px) {
    /* body {
      background-color: lightblue;
      width: 100%;
    } */
    #baner{
        width:100%;
        background-position: 100%;
        height: 500px;
        
        
    }
    #baner #quotes{
        display: none;
        
    }
    #sec-1,#sec-2,#sec-3,#sec-4{
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: column;
    }
    #sec-1 .circles{
        width: 80%;
        /* height: 100%; */
        border-radius: 0%;
        text-align: center;
        margin-left: 60px;
        margin-bottom: 20px;
    }
    #sec-2 #main{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    #articles{
        width: 100%;
        margin-left: 0px;
       
        
    }
    #sec-3{
        flex-direction: column;
    }
    #sec-3 .box{
        width: 80%;
        margin-top: 20px;
        margin-left: 40px;
    
    }
    /* #sec-3 .box[data-show-border=false] {
        box-shadow: 0 1px 6px rgb(31 31 31 / 12%), 0 1px 4px rgb(31 31 31 / 12%);
    } */
    #sec-4{
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 501px)and (max-width: 800px) {
    /* body {
      background-color: lightblue;
      width: 100%;
    } */
    #baner{
        width:100%;
        background-position: 100%;
        height: 700px;
        
        
    }
    #baner #quotes{
        display: none;
        
    }
    
    #sec-1 .circles{
        width: 200px;
        height: 200px;
        border-radius: 0%;
        text-align: center;
        /* margin-left: 60px; */
        /* margin-bottom: 20px; */
    }
    #sec-2{
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: column;
    }
    #sec-2 #main{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    #articles{
        width: 100%;
        margin-left: 0px;
       
        
    }
    #sec-3{
        /* display: flex; */
        /* justify-content: center; */
        flex-direction: column;
        width: 100%;
        /* height: 2500px; */
    }
    #sec-3 .box{
        width: 70%;
        margin-top: 20px;
        margin-left: 100px;
    
    }
    /* #sec-3 .box[data-show-border=false] {
        box-shadow: 0 1px 6px rgb(31 31 31 / 12%), 0 1px 4px rgb(31 31 31 / 12%);
    } */
    #sec-4{
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 801px)and (max-width: 1100px) {
    /* body {
      background-color: lightblue;
      width: 100%;
    } */
    #baner{
        width:100%;
        background-position: 100%;
        height: 700px;
        
        
    }
    #baner #quotes{
        display: none;
        
    }
    
    #sec-1 .circles{
        width: 200px;
        height: 200px;
        border-radius: 0%;
        text-align: center;
        /* margin-left: 60px; */
        /* margin-bottom: 20px; */
    }
    #sec-2{
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: column;
    }
    #sec-2 #main{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    
    #articles{
        width: 100%;
        margin-left: 0px;
       
        
    }
    #sec-3{
        /* display: flex; */
        /* justify-content: center; */
        /* flex-direction: column; */
        width: 100%;
        /* height: 2500px; */
    }
    #sec-3 .box{
        width: 70%;
        margin-top: 20px;
        margin-left: 20px;
    
    }
    /* #sec-3 .box[data-show-border=false] {
        box-shadow: 0 1px 6px rgb(31 31 31 / 12%), 0 1px 4px rgb(31 31 31 / 12%);
    } */
    #sec-4{
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 1101px)and (max-width: 1500px) {
    /* body {
      background-color: lightblue;
      width: 100%;
    } */
    #baner{
        width:100%;
        background-position: 100%;
        height: 1000px;
        
        
    }
    #baner #quotes{
        display: none;
        
    }
    #sec-1 .circles{
        width: 200px;
        height: 200px;
        border-radius: 0%;
        text-align: center;
        /* margin-left: 60px; */
        /* margin-bottom: 20px; */
    }
    #sec-2 #main{
        width: 100%;
        height: 100%;
        
    }
    .article{
        width: 100%;
        height:31%;
        
       
        
    }
}